NIA Intro to Python Class - May 16, 2017

# Day 2: Iterables and Operators

* An [iterable](http://docs.python.org/2/glossary.html#term-iterable) is a container object capable of returning its members one at a time.
* An [operator](https://en.wikipedia.org/wiki/Operator_%28computer_programming%29) is a type of function that returns a value based on the values its next to.
* In this notebook we explore of some of the most important iterable types built into Python.

### Table Of Contents
1. [Lists](#lists)
2. [Tuples](#tuples)
3. [Dictionaries](#dicts)
4. [Sets](#sets)
5. [Slicing Iterables](#slice)
6. [Iterables of Iterables](#compound)
8. [Operators and Operations On Iterables](#using)
9. [Basic Sorting](#sort)

---

## <a name="lists">Lists</a>

* Container for a group of values
* Can all be the same type or different, doesn't matter.
* Declared by bracket outside, comma delimited within.
* The order of the values in the list is remembered
* Is mutable = Can append/insert new values to the list, and remove values.
* As with all iterables in Python, the values in a list are indexed starting with 0.

In [1]:
a_list = [1, 2, 3, "a dog"]

In [2]:
a_list

[1, 2, 3, 'a dog']

### Append another value to the list

In [3]:
a_list.append( "Hi there!" )

In [4]:
a_list

[1, 2, 3, 'a dog', 'Hi there!']

### Get the Nth value out of a list

Use open/close brackets [] to get at the Nth thing in the list.

In [5]:
a_list[2]

3

### Delete a value in the list

use the keyword <code>del</code> to delete an item in the list.

In [6]:
del a_list[2] # Remember, the count starts at 0

In [7]:
a_list

[1, 2, 'a dog', 'Hi there!']

### Empty list

A list can have one or zero values in it.

In [8]:
empty_list = []

In [9]:
len( empty_list )

0

In [10]:
empty_list.append( "sumn" )

In [11]:
len( empty_list )

1

## <a name="tuples">Tuples</a>

* The name "tuple" comes from math concept, i.e., quadruple, quintuple, sextuple, ... n-tuple
* A tuple is just an immutable list: once you make it, you can't change it.
* The order of the values in the list is remembered.
* Usually declared by surrounding a comma-separated sequence with optional parentheses

In [12]:
a_tuple = 1, 2, 3, "four"

In [13]:
readable_tuple = ( 1, 2, 3, "four" ) # Parentheses are optional

In [14]:
empty_tuple = ()

In [15]:
tuple_with_one_item = ("an item",)

In [16]:
len( tuple_with_one_item )

1

In [17]:
# Index notation works for tuples too
a_tuple[3]

'four'

## <a name='dicts'>Dictionaries</a>

* A <code>dict</code> is associative array, where "keys" are mapped to "values."
* DOES NOT KEEP TRACK OF ORDER OF KEY-VALUE PAIRS (for that you need <code>collections.OrderedDict</code>)

### Create an empty <code>dict</code>

Declare empty dict with {}, or dict().

In [18]:
a_dict = {}

In [19]:
type( a_dict )

dict

### Create a <code>dict</code> with stuff in it

The keys are separated by the values by a colon (:), and the key-value pairs are separated by commas.

In [20]:
a_dict = {"key 1":"value 1", 2:3, 4:['a','list'], 
          "expects spanish inquisition": "hi"}

To get a value out of a dict, put the key into the brackets.

In [21]:
print( a_dict['key 1'], ",", a_dict['expects spanish inquisition'] )

value 1 , hi

### Get a list of all the keys of a <code>dict</code>

Return a list of keys by calling the <code>.keys()</code> function on any dict.

In [22]:
a_dict.keys()

dict_keys(['key 1', 2, 4, 'expects spanish inquisition'])

### Get a list of all the values of a <code>dict</code>

Use <code>.values()</code>

In [23]:
# Return a list of values:
a_dict.values()

dict_values(['value 1', 3, ['a', 'list'], 'hi'])

### KeyError exception

If you reference a key that's not there, a KeyError exception is raised

In [24]:
a_dict[3]

KeyError: 3

### Advanced topic: key-value directionality

<code>dicts</code> only go in one direction, i.e., you can't put in a value and get out a key. Keys map to values, but not vice versa

Here's a little code snipped reversing the directionality using a something called a [dict comprehension](http://www.bogotobogo.com/python/python_dictionary_comprehension_with_zip_from_list.php)

In [25]:
keys_to_values = {1:'a', 2:'b', 3:'c', 4:'d'}

In [26]:
keys_to_values[3]

'c'

In [27]:
keys_to_values['c']

KeyError: 'c'

In [28]:
values_to_keys = \
   { (second, first) for first, second in keys_to_values.items() }

In [29]:
values_to_keys

{('a', 1), ('b', 2), ('c', 3), ('d', 4)}

## <a name="sets">Sets</a>

* Similar to math concept of sets; has operations like union, intersection, etc.
* Sets are unindexed, unordered, and contains no duplicates.
* My personal favorite of the Python standard types!

### Create an empty <code>set</code>

Make an empty using <code>set()</code>.

In [35]:
empty_set = set() # not {}, that would be an empty dict

In [36]:
len(empty_set)

0

### Create a <code>set</code> with stuff in it

Declare a set by putting values inside braces.

In [33]:
a_set = {'set', 'of', 'words'}

In [34]:
some_set = {0, (), False}

In [10]:
type( some_set )

set

### The Union operator for sets

The union: all unique things in the Venn diagram. All regions.

Use the pipe character <code>|</code> to take the union of two sets.

In [37]:
set1 = {12,34,56,78,90,42}

In [38]:
set2 = {1,23,45,67,89,42}

In [39]:
set3 = set1 | set2

In [40]:
set3

{1, 12, 23, 34, 42, 45, 56, 67, 78, 89, 90}

### The Intersection operator for sets

The intersections is just the overlapped region in the Venn diagram. Use the ampersand (<code>&</code>) operator.

In [41]:
set4 = set1 & set2

In [42]:
set4

{42}

## <a name="slice">Slicing Iterables</a>

You can use the slice notation on list, tuples and strings. Strings are like a tuple of chararcters.

In [43]:
full_statement = \
   'The answer to life, the universe, and everything is 42'

### Subsets: slicing iterables into smaller ones

Return a substring using a brackets separated by a colon.

In [44]:
full_statement[3:22]

' answer to life, th'

### Slicing an iterable doesn't change the original iterable

Just because you just returned a substring from a string doesn't mean you changed the original string. Python created a new string and returned that

full_statement

### Slicing syntax

<code>[begin index:end index:step]</code>

In [45]:
full_statement[3:32:3] # take every 3rd letter

' sroi,huvs'

### Slice from the beginning to the middle somewhere

Leave out the start index and Python assumes you want a slice starting from the beginning.

In [76]:
full_statement[:25]

'The answer to life, the u'

### Slice from the middle somewhere to the end

Leave out the end index and Python assumes you want a slice that goes straight to the end.

In [77]:
full_statement[25:]

'niverse, and everything is 42'

### Negative slice indices mean count from the end

If i is negative, index is relative to end of string:

In [ ]:
full_statement[-25:]

### Reverse a the order of an iterable using the step parameter

Reverse a string by using a negative step value

In [54]:
"a man, a plan, a canal, panama"[::-1]

'amanap ,lanac a ,nalp a ,nam a'

## <a name="compound">Iterables of Iterables</a>

* It's fine as long as you don't violate the mutable rules

In [ ]:
list1 = [1,2,3,4,5]

In [ ]:
list2 = [6,7,8,9,10]

In [ ]:
tuple1 = list1, list2

In [62]:
tuple1

([1, 2, 3, 4, 5], [6, 7, 8, 9, 10])

In [63]:
# I guess this is legal:
tuple1[0][0] = 99 # compound index notation
tuple1

([99, 2, 3, 4, 5], [6, 7, 8, 9, 10])

In [ ]:
dict1 = {'list1': list1, 'list2': list2}

In [ ]:
dict1['list2'][4] = 66

In [ ]:
dict1['list1'].append( 555 )

In [64]:
dict1

{'list1': [99, 2, 3, 4, 5, 555], 'list2': [6, 7, 8, 9, 66]}

## <a name="using">Operators and Operations on Iterables</a>

In [48]:
test_list = [1, 2, "3", "four", (5,), set((6,))]

### The <code>in</code> operator
"<code>x in s</code>" - a boolean expression to test if the value or substring x is in iterable s.

In [49]:
2 in test_list

True

### The <code>not in</code> operator

"<code>x not in s</code>" - Opposite of <code>in</code>.

In [50]:
2 not in test_list

False

### Concatenate iterables

The plus operator works on some iterable types but not others

In [51]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [52]:
"abc" + "def"

'abcdef'

### The <code>len()</code> operator

<code>len()</code> returns the length of an iterable.

In [53]:
len( test_list )

6

### The math operators

* <
* <=
* >
* \>=
* ==

Note the double equal signs is an operator, not an assignment!!

### The <code>min()</code> and <code>max()</code> operators

Gives the minumum/maximum value. Uses the math operators to compare.

In [56]:
min(test_list)

TypeError: '<' not supported between instances of 'str' and 'int'

### The  <code>.count()</code> method

<code>some_list.count( some_value )</code> The number of times <code>some_value</code> appears in <code>some_list</code>

In [61]:
my_new_list = [0,1,2,3,3,2,1]

In [58]:
my_new_list.count( 3)

2

## <a name="sort">Basic Sorting</a>

* Use the <code>sorted</code> function to sort basic Python iterable types WITHOUT modifying the original.
* Use the <code>.sort()</code> method to sort an iterable in place.

In [59]:
sorted( my_new_list )

[0, 1, 1, 2, 2, 3, 3]

In [62]:
my_new_list

[0, 1, 2, 3, 3, 2, 1]

In [63]:
my_new_list.sort()

In [64]:
my_new_list

[0, 1, 1, 2, 2, 3, 3]